

/*=====================================
Общие стили
=====================================*/

body {
  margin: 0;
  padding: 0;
  outline: none; /* убираем обводку по умолчанию, например у активных инпут полей */
  background-color: #eee;
}

a {text-decoration: none;}